.main {
    margin-top: 10px;
}

.video-container {
    width: 60% !important;
    float: left;
    margin: 0 !important;
    border-radius: 0 !important;
}

.ui.card > :first-child {
    border-radius: 0 !important;
}

.iframe-container {
    overflow: hidden;
    padding-top: 56.25%;
    position: relative;
    width: 100%;
    float: left;
    border-radius: 0px !important;
  }

.iframe-container iframe {
    border: 0;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
}

.video-list {
    float: right;
    width: 40% !important;
    padding-left: 20px !important;
    margin-top: 0px !important;
}

.video-image {
    position: relative;
    height: 100%;
}

.video-length {
    width: auto;
    background-color: black;
    color: white;
    position: absolute;
    padding-left: 4px;
    padding-right: 4px;
    bottom: 0;
}

.error {
    color: red
}

@media only screen and (max-width: 991px) {

    .video-container {
        width: 100% !important;
    }

    .iframe-container {
        width: 100%;
    }

    .iframe-container iframe {
        height: 100%;
    }

    .video-list {
        width: auto !important;
        margin-top: 20px !important;
        padding-left: 0px !important;
    }
}